DATABASE_URL=postgres://username:password@localhost:5432/dbname
GITHUB_PERSONAL_ACCESS_TOKEN=your_github_personal_access_token * see https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/managing-your-personal-access-tokens
